{% extends "navbar.html" %}
{% block title %} Find Veteriner{%endblock %}
{% block csslinks %}  
<link rel="stylesheet" href="{{ url_for('static', filename='findVet.css') }}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="list-group">
    {%if cities%}
    <form class="md-form form-inline mt-3" action="" method="post" name="vet_district" style="margin-left:auto; margin-right:auto;">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter by city</label>
        <select class="custom-select my-1 mr-sm-2" name="city_select" id="inlineFormCustomSelectPref">
            {%if not selected_city%}
                <option value="0" selected>City</option>
            {%endif%}
            {%for cityid, cityname in cities%}
                {%if selected_city == cityname%}
                    <option value="{{cityid}}" selected>{{cityname}}</option>
                {%else%}
                    <option value="{{cityid}}">{{cityname}}</option>
                {%endif%}
            {%endfor%}
        </select>    
        <button type="submit" class="btn btn-primary my-1">Search</button>
    </form>
    {%endif%}
    {%if vets%}
        {%for vet in vets%}
            {% set vet_id = vet["vetid"] -%}
            {%if now_user == 1%}
                <div class="mt-5" style="margin-left:auto; margin-right:auto;">
                    <button type="button " onclick="window.location.href='{{ url_for('delete_vet', vet_id=vet_id) }}';" class="btn btn-outline-danger" > delete </button>
                </div>
            {%endif%} 

            {%if vet["score"] == 0 %}
                <a href="{{ url_for('vet_custom_page', vet_key=vet_id) }}" class="list-group-item list-group-item-action col-7 mt-3" style="  margin-left: auto; margin-right:auto;">
                    <div >
                        <h2 class="text-dark ml-4">{{vet["vetname"]}} </h2>
                    </div>
                    <div>
                        <div class="progress ml-4 float-left mr-3" style=" width: 30%;  height:20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div >
                            {%if vet["votenum"] == 0 %}
                                <h6 class="text-dark mb-1"  > Noone has been voted </h6>
                            {% else %}
                                <h6 class="text-dark mb-1"  > {{vet["votenum"]}} people have been voted </h6>
                            {%endif%}
                        </div> 

                    </div>
                    <div class="mt-3">
                        <i class="fa fa-map-marker text-info" style="font-size:24px; color:#30AFBF;">District:  {{vet["district"]}} /{{vet["cityname"]}}  </i>
                    </div>

                </a>                

            {%elif vet["score"] <= 20 %}

                <a href="{{ url_for('vet_custom_page', vet_key=vet_id) }}" class="list-group-item list-group-item-action col-7 mt-3" style="  margin-left: auto; margin-right:auto;">
                    <div >
                        <h2 class="text-dark ml-4">{{vet["vetname"]}} </h2>
                    </div>
                    <div>
                        <div class="progress ml-4 float-left mr-3" style=" width: 30%;  height:20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 20%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{vet["score"]}}</div>
                        </div>
                        <div >
                            {%if vet["votenum"] == 0 %}
                                <h6 class="text-dark mb-1"  > Noone has been voted </h6>
                            {% else %}
                                <h6 class="text-dark mb-1"  > {{vet["votenum"]}} people have been voted </h6>
                            {%endif%}>
                        </div> 

                    </div>
                    <div class="mt-3">
                        <i class="fa fa-map-marker text-info" style="font-size:24px; color:#30AFBF;">District:  {{vet["district"]}} /{{vet["cityname"]}}  </i>
                    </div>

                </a>
            {%elif vet["score"] <= 40 %}
                <a href="{{ url_for('vet_custom_page', vet_key=vet_id) }}" class="list-group-item list-group-item-action col-7 mt-3" style="  margin-left: auto; margin-right:auto;">
                    <div >
                        <h2 class="text-dark ml-4">{{vet["vetname"]}} </h2>
                    </div>
                    <div>
                        <div class="progress ml-4 float-left mr-3" style=" width: 30%;  height:20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{vet["score"]}}</div>
                        </div>
                        <div >
                            {%if vet["votenum"] == 0 %}
                                <h6 class="text-dark mb-1"  > Noone has been voted </h6>
                            {% else %}
                                <h6 class="text-dark mb-1"  > {{vet["votenum"]}} people have been voted </h6>
                            {%endif%}
                        </div> 

                    </div>
                    <div class="mt-3">
                        <i class="fa fa-map-marker text-info" style="font-size:24px; color:#30AFBF;">District:  {{vet["district"]}} /{{vet["cityname"]}}  </i>
                    </div>
              
                </a>
            {%elif vet["score"] <= 60 %}
                <a href="{{ url_for('vet_custom_page', vet_key=vet_id) }}" class="list-group-item list-group-item-action col-7 mt-3" style="  margin-left: auto; margin-right:auto;">
                    <div >
                        <h2 class="text-dark ml-4">{{vet["vetname"]}} </h2>
                    </div>
                    <div>
                        <div class="progress ml-4 float-left mr-3" style=" width: 30%;  height:20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{vet["score"]}}</div>
                        </div>
                        <div >
                            {%if vet["votenum"] == 0 %}
                                <h6 class="text-dark mb-1"  > Noone has been voted </h6>
                            {% else %}
                                <h6 class="text-dark mb-1"  > {{vet["votenum"]}} people have been voted </h6>
                            {%endif%}                        
                        </div> 

                    </div>
                    <div class="mt-3">
                        <i class="fa fa-map-marker text-info" style="font-size:24px; color:#30AFBF;">District:  {{vet["district"]}} /{{vet["cityname"]}}  </i>
                    </div>
                   
                </a>
            {%elif vet["score"] <= 80 %}
                <a href="{{ url_for('vet_custom_page', vet_key=vet_id) }}" class="list-group-item list-group-item-action col-7 mt-3" style="  margin-left: auto; margin-right:auto;">
                    <div >
                        <h2 class="text-dark ml-4">{{vet["vetname"]}} </h2>
                    </div>
                    <div>
                        <div class="progress ml-4 float-left mr-3" style=" width: 30%;  height:20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{vet["score"]}}</div>
                        </div>
                        <div >
                            {%if vet["votenum"] == 0 %}
                                <h6 class="text-dark mb-1"  > Noone has been voted </h6>
                            {% else %}
                                <h6 class="text-dark mb-1"  > {{vet["votenum"]}} people have been voted </h6>
                            {%endif%}
                        </div> 

                    </div>
                    <div class="mt-3">
                        <i class="fa fa-map-marker text-info" style="font-size:24px; color:#30AFBF;">District:  {{vet["district"]}} /{{vet["cityname"]}}  </i>
                    </div>
 
                </a>
            {%else %}
                <a href="{{ url_for('vet_custom_page', vet_key=vet_id) }}" class="list-group-item list-group-item-action col-7 mt-3" style="  margin-left: auto; margin-right:auto;">
                    <div >
                        <h2 class="text-dark ml-4">{{vet["vetname"]}} </h2>
                    </div>
                    <div>
                        <div class="progress ml-4 float-left mr-3" style=" width: 30%;  height:20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{vet["score"]}}</div>
                        </div>
                        <div >
                            {%if vet["votenum"] == 0 %}
                                <h6 class="text-dark mb-1"  > Noone has been voted </h6>
                            {% else %}
                                <h6 class="text-dark mb-1"  > {{vet["votenum"]}} people have been voted </h6>
                            {%endif%}
                        </div> 

                    </div>
                    <div class="mt-3">
                        <i class="fa fa-map-marker text-info" style="font-size:24px; color:#30AFBF;;">District:  {{vet["district"]}} /{{vet["cityname"]}}  </i>
                    </div>
 
                </a>
            {%endif%}
        {%endfor%}   
    {%else%}
        <h1> There is no veteriner</h1>
    {%endif%}
</div>
{% endblock %}
