{% extends "navbar.html" %}
{% block title %} Forum Page {%endblock %}
{% block csslinks %}<link rel="stylesheet" href="/static/forum.css">{% endblock %}
{% block content %}
<div class="pageHeader">
    <h1> Forum Page</h1>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      Kedim kızgınlığa girdi ne yapabilirim? 	&nbsp; <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">Köpek ile seyahat için ne gerekli?&nbsp;&nbsp;<span class="badge badge-primary badge-pill">3</span></a>
    <a href="#" class="list-group-item list-group-item-action">Kedim çok az yemek yiyor sebebi ne olabilir?	&nbsp; <span class="badge badge-primary badge-pill">12</span></a>
    <a href="#" class="list-group-item list-group-item-action">1 yaşında Golden köpeğim için hangi mamayı önerirsiniz?	&nbsp; <span class="badge badge-primary badge-pill">7</span></a>
  </div>

{% endblock %}