{% extends "navbar.html" %}
{% block title %} Home Page {%endblock %}
{% block csslinks %}<link rel="stylesheet" href="/static/home.css"> {% endblock %}

{% block content %}

<section id="header" class="jumbotron text-center">
       <h1 class="display-3">PetWorld</h1>
       <p class="lead">All about pets... Share photo, find veteriner, find useful information, ask to veteriner etc.</p>
       {% if session['logged_in'] %}
       <p class="lead">Welcome</p>
       {% else %}
       <a href="{{url_for('login_page')}}" class="btn btn-primary">Login</a>       
       <a href="{{url_for('register_page')}}" class="btn btn-secondary">Register</a>
       {% endif %}
</section>    
<section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="../static/cat.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Patigram</h5>
          <p class="card-text">You can share photos of your pet and you can see and comment to the other's photos. </p>
         <a href="{{ url_for('patigram_page') }}" class="btn btn-outline-success btn-sm">Go to Patigram</a>
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="../static/blog.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Blog</h5>
          <p class="card-text">you can find many useful articles for yourself and your pet on the blog. You can also share useful articles yourself. </p>
         <a href="{{ url_for('blog_page') }}" class="btn btn-outline-success btn-sm">Go to Blog</a>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="../static/question.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><br>Notice </h5>
          <p class="card-text">On the notice page, you can share and see lost pet notices and own pet notice.</p>
         <a href="{{ url_for('notice_page') }}" class="btn btn-outline-success btn-sm">Go to Notices</a>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}
