{% extends "navbar.html" %}
{% block title %} Notifications Page {%endblock %}
{% block csslinks %}<link rel="stylesheet" href="/static/noti.css"> {% endblock %}
{% block content %}


<div class="pageHeader">
<h1> Notifications</h1>
</div>
<div class="noti">
    <div class="list-group">
            {% for notificationID, noti in notifications %}
            {% if noti.isSeen %}
                <a href="#" class="list-group-item list-group-item-action">
                {% else %}
                    <a href="#" class="list-group-item list-group-item-action active">
                {% endif %}
            <div class="d-flex w-100 justify-content-between">
                {% if noti.notificationType == 0 %}
                <h5 class="mb-1">Like</h5>
                {% elif noti.notificationType == 1 %}
                <h5 class="mb-1">Comment</h5>
                {% elif noti.notificationType == 2 %}
                <h5 class="mb-1">Added</h5>
                {% else %}
                <h5 class="mb-1">Deleted</h5>
                {% endif %}
            </div>
            <p class="mb-1">{{noti.description}}</p>
            {% if noti.notificationType == 1 %}
            <i class="mb-1">"{{noti.content}}" <br></i>
            {% endif %}
            <small class="text-muted">{{noti.notificationTime}}</small>
            </a>
            {% endfor %}
    </div>
</div>


{% endblock %}