{% extends "navbar.html" %}
{% block title %} Profile {%endblock %}
{% block csslinks %} <link rel="stylesheet" href="/static/profile.css"> 
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
</style>
{% endblock %}
{% block content %}

<div class="container">    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">  <h4 >Profile</h4> <a href = "{{ url_for('delete_user') }}">Delete Account</a></div> 
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                       <img alt="User Pic" src="{{user.photoURL}}" id="profile-image1" class="img-circle img-responsive">
                       <a style = "margin-left: 35%; margin-top: 10px" href = "{{ url_for('change_avatar') }}">Change your avatar</a> 
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                        <div class="container" >
                            <h2>{{user.name}} {{user.surname}}</h2>
                            {% if user.isVet == 0%}
                            <p>a <b>Pet Owner</b></p>
                            {%else%}
                            <p>a <b>Veteriner</b></p>
                            {%endif%}
                            <p><b>{{user.email}}</b></p>
                            <p><b>{{user.websiteLink}}</b></p>
                        </div>
                        <hr>
                          <ul class="container details">
                            {% if user.facebookLink %}  
                            <a href="https://{{user.facebookLink}}" class="fa fa-facebook"></a>
                            {%endif%}
                            {% if user.twitterLink %} 
                            <a href="https://{{user.twitterLink}}" class="fa fa-twitter"></a>
                            {%endif%}
                            {% if user.youtubeLink %} 
                            <a href="https://{{user.youtubeLink}}" class="fa fa-youtube"></a>
                            {%endif%}
                            {% if user.instagramLink %} 
                            <a href="https://{{user.instagramLink}}" class="fa fa-instagram"></a>
                            {%endif%}
                          </ul>
                        <hr>
                        <div class="col-sm-5 col-xs-6 tital">Date Of Joining: {{user.registerTime}}</div>
                        </div>
                </div>
            </div>
</div>
{% endblock %}
